[Desktop Entry]
Type=Application
Version=1.6.4
Name=Makou Reactor
GenericName=FF7 Field Script Editor
GenericName[fr]=Éditeur d'écrans FF7
Comment=Can edit field from Final Fantasy VII (PS & PC)
Comment[fr]=Permet de modifier les écrans de Final Fantasy VII (PS et PC)
Icon=logo-shinra.png
Exec=/usr/bin/makoureactor
Path=
Terminal=false
Categories=Application;Game;
Keywords=PlayStation;Final Fantasy;
StartupNotify=false
