[Desktop Entry]
Type=Application
Name=Makou Reactor
GenericName=FF7 Field Script Editor
GenericName[fr]=Éditeur d'écrans FF7
Comment=Can edit field from Final Fantasy VII (PS & PC)
Comment[fr]=Permet de modifier les écrans de Final Fantasy VII (PS et PC)
Icon=io.github.myst6re.makoureactor
Exec=Makou_Reactor
Terminal=false
Categories=Game;
Keywords=PlayStation;Final Fantasy;
StartupNotify=false
