#include <windows.h>

IDI_ICON1   ICON   DISCARDABLE   "images/logo-shinra.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION       MAKOU_REACTOR_VERSION_MAJOR,MAKOU_REACTOR_VERSION_MINOR,MAKOU_REACTOR_VERSION_PATCH,MAKOU_REACTOR_VERSION_TWEAK
    PRODUCTVERSION    MAKOU_REACTOR_VERSION_MAJOR,MAKOU_REACTOR_VERSION_MINOR,MAKOU_REACTOR_VERSION_PATCH,MAKOU_REACTOR_VERSION_TWEAK
    FILEOS            VOS_UNKNOWN
    FILETYPE          VFT_APP
    FILESUBTYPE       VFT2_UNKNOWN
    FILEFLAGSMASK     0x00000000
    FILEFLAGS         0x00000000
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040C04E4"
        BEGIN
            VALUE "CompanyName",        MAKOU_REACTOR_COMPANY
            VALUE "FileDescription",    MAKOU_REACTOR_DESCRIPTION
            VALUE "ProductName",        MAKOU_REACTOR_NAME
            VALUE "FileVersion",        MAKOU_REACTOR_VERSION
            VALUE "ProductVersion",     MAKOU_REACTOR_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40C, 1252
    END
END
